<li class="tweet">
  <a href="https://twitter.com/<%- tweet.author.handle %>/status/<%- tweet.id %>" class="tweet-permalink">
    <span class="tweet-author-name link">
      <%- tweet.author.name %>
    </span>
    <span class="tweet-screen-name">
      @<%- tweet.author.handle %>
    </span>
    <p class="tweet-html">
      <%- tweet.content %>
    </p>
  </a>
</li>