<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Jim Nielsen: designer, developer, problem solver.</title>
  <meta name="description" content="Personal website of Jim Nielsen" />
  <meta name="author" content="Jim Nielsen" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400i" rel="stylesheet" />
</head>
<body>
  <main class="wrapper main">
    <header class="header">
      <div class="header__graphic">
        <img src="/assets/img/logo.png" width="255" height="126" />
        <img src="/assets/img/profile.jpg" width="490" height="540" />
        <canvas id="canvas"></canvas>
      </div>
      
      <h1>Jim Nielsen: designer, developer, problem solver.</h1>
      <h2>Currently: Director of Design &amp; UI Architecture @ SageSure.</h2>
    
      <nav class="nav">
        <ul>
          <% sections.forEach(({ id, title }) => { %>
            <li>
              <a href="#<%- id %>"><%- title %></a>
            </li>
          <% }) %>
        </ul>
      </nav>
      
      <p><em>Who are you?</em> The answer you’re probably looking for is “I am a designer who codes.” But what I really do is solve problems and add value to the projects I work on. And that’s probably one of the less intersting facts about me, but you know, this is a website where I talk about myself professionally, so I have to say these things.</p>
      <p><em>What are your skills?</em> My practical skills aren’t what’s interesting about me. Yes, I design visual interfaces and leverage principles of design, color theory, and typography. I write code and intimately understand HTML, CSS, and JavaScript. But my skills are tools to and end: to solve problems and provide value.</p>
      <p><em>What’s your expertise?</em> My expertise lies in synthensizing knowledge across perceivedly disparate boundaries. “Visual designer”, “Front-end Developer”, and “Product Manager”, I assume all those responsibilities in order to add value to a business, to enhance a company’s culture, to bring clarity to a project, or to just get along with humans (something often perceived as a difficult task for people who write instructions for machines).</p>
      <p><em>How are you, you know, as a human?</em> Don’t take it from me, here are the words of a peer when I was departing a previous employer:</p>
      <blockquote><p>Gonna be a real bummer here w/o you. You bring a lot of great design, and a lot of not-being-an-asshole-ness.</p></blockquote>
      <p><em>Do you have anything else to say?</em> Yes, in fact, I’m glad you asked. Everything I am as a designer, developer, and just human in general is a result of the wonderful people who I’ve crossed paths with in my life. In technology in particular, I’ve worked with some of the most <a href="https://twitter.com/jenniferdary" title="Jen">inpsiring</a>, <a href="https://about.me/timmeaney" title="Tim">charismatic</a>, <a href="https://ashby.io" title="Ashby">curious</a>, <a href="http://www.garrettkalleberg.com" title="Garrett">endearing</a>, <a href="https://twitter.com/cshoe_" title="shoe">introspective</a>, <a href="https://darrennewton.com" title="d_run">wise</a>, <a href="https://jws.io/" title="justinn">unassuming</a>, <a href="https://imnikkilee.com" title="Nikki">artistic</a>, <a href="https://github.com/bowmanb" title="B-bow">amiable</a>, <a href="https://github.com/damassi" title="chrispy">selfless</a>, and <a href="https://tylergaw.com" title="the gaw">sincere</a> people you’ll ever meet (and I didn’t use the word “talented” because they all are). More than any project I’ve worked on, I’m proud of the people I’ve worked with and learned from. I’m sure you, dear reader, would be a wonderful person I could learn from as well.</p>
      <p>— Jim Nielsen on Aug 2, 2018</p>
    </header>

    <% sections.forEach(({ id, url, title, data }) => { %>
        <section class="section clearfix" id="<%- id %>">
          <h2 class="section__header">
            <%- title %>
          </h2>
          <ul class="section__content">
              
            <!-- Dribbble -->
            <% if (id === "dribbble") { %>
              <% data.forEach(item => { %>
                <%- include("./partials/dribbble.ejs", { item }) %>
              <% }) %>
              <li class="view-more">
                <a href="<%- url %>" class="link">
                  View more at <%- url %> ›
                </a>
              </li>
            <% } %>

            <!-- Employment -->
            <% if (id === "employment") { %>
              <% data.forEach(item => { %>
                <%- include("./partials/employment.ejs", { item }) %>
              <% }) %>
            <% } %>

            <!-- Personal Projects -->
            <% if (id === "personal-projects") { %>
              <% data.forEach(project => { %>
              <li class="item">
                <a class="item__img" href="<%- project.link %>" class="link">
                  <img src="assets/img/personal-projects/<%- project.id %>.png" width="70" height="70" />
                </a>
                <div class="item__content">
                  <h3 class="title link">
                    <a href="<%- project.link %>" class="link"><%- project.title %></a>
                  </h3>
                  <p class="description"><%- project.description %></p>
                  <% if (project.links) { %>
                    <ul class="links">
                      <% project.links.forEach(link => { %>
                      <li>
                        <a href="<%- link.url %>" class="link">
                          <%- link.title %>
                        </a>
                      </li>
                      <% }) %>
                    </ul>
                  <% } %>
                  <% if (project.tweets) { %>
                    <%- include('./partials/tweets.ejs', { tweets: project.tweets }) %>
                  <% } %>
                </div>
              </li>
              <% }) %>
            <% } %>
            
            <!-- Blog -->
            <% if (id === "blog") { %>
              <% data.forEach(post => { %>
              <li class="item">
                <div class="item__content">
                  <h3 class="title">
                    <a href="<%- post.url %>">
                      <%- post.title %>
                    </a>
                  </h3>
                  <p class="byline">
                    <time><%- post.date_published %></time>
                  </p>
                </div>
              </li>
              <% }) %>
              <li class="view-more">
                <a href="<%- url %>" class="link">
                  View more at <%- url %> ›
                </a>
              </li>
            <% } %>

            <!-- Publishings -->
            <% if (id === "publishings") { %>
              <% data.forEach(item => { %>
                <%- include("./partials/publishings.ejs", { item }) %>
              <% }) %>
            <% } %>
          </ul>
        </section>
    <% }) %>
  </main>
      
  <!--
  <aside class="wrapper">
    <div class="skills">
      <strong>
        > ls -skills
      </strong>
      <ul>
        <% skills.forEach(({ name, capability, divider }) => { %>
          <li class="<%- divider ? 'divider' : '' %>">
            <span>-<%- capability %></span>
            <span>jim-nielsen</span>
            <span><%- name %></span>
          </li>
        <% }) %>
      </ul>
    </div>
  </aside>
  -->
  

  <footer class="wrapper footer">
    <p>
      Want to contact me? Email <a href="mailto:jimniels@gmail.com">jimniels at gmail</a> or tweet <a href="http://twitter.com/jimniels">@jimniels</a>
    </p>
  </footer>

  <script defer type="text/javascript" src="/assets/js/draw.js"></script>
</body>
</html>
    
    
    
    
    